*ipynb_checkpoints*
*connection*
*data
assets
*.pyc
*pycache*
*.tgz
*.pt
*.csv
*.pdf
*.p
evaluation
*logs
*.sh

notebooks/maiso/cooking.stackexchange.txt
notebooks/maiso/cooking.train
notebooks/maiso/random_dir/
notebooks/maiso/test-trainer/
*bak*
*.h5
